@page "/manystar"
@using TurtleApp.Model
@using TurtleApp.Drawings


<PageTitle>Star</PageTitle>

<h1>ManyStar - with Turtle</h1>


<button class="btn btn-primary" @onclick="Decrement">-</button>
<button class="btn btn-secondary">@amount</button>
<button class="btn btn-primary" @onclick="Increment">+</button>

<svg viewBox="0 0 1000 600" xmlns="http://www.w3.org/2000/svg">

    @foreach (var line in mLines)
    {
        <line x1="@line.X1" y1="@line.Y1" x2="@line.X2" y2="@line.Y2" stroke="@line.Color" stroke-width="@line.Width" />
    }
</svg>
@code {

    List<Line> mLines = new();

    int amount = 10;
    
    protected override void OnInitialized()
    {
        CreateNewDrawing();
    }

    private void CreateNewDrawing()
    {
        Turtle t = new();
        StarDrawing drawing = new();
        drawing.DrawManyStars(t, amount);
        mLines = t.mLines;
    }
    
    private void Decrement()
    {
        amount--;
        CreateNewDrawing();
    }

    private void Increment()
    {
        amount++;
        CreateNewDrawing();
    }
}